@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.contact-title{
  font-family: 'Orbitron', sans-serif;
}

.contact-form{
  display: flex;
  flex-direction: column;
}

.labels-div{
  margin-bottom: 30px;
}

.label-title{
  font-family: 'Orbitron', sans-serif;
  padding-right: 10px;
}

.message-title{
  font-family: 'Orbitron', sans-serif;
  padding-bottom: 45px;
  padding-right: 10px;
}

.input{
  border: none;
  border-bottom: 3px solid black;
  width: 820px;
}

.text-area{
  border: none;
  resize: none;
  overflow: auto;
  outline: none;
  border-bottom: 3px solid black;
}

.send-button{
  font-family: 'Orbitron', sans-serif;
  border: none;
  background-color: white;
  border: 2px solid black;
}