@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.contact-title{
  font-family: 'Orbitron', sans-serif;
  color: aliceblue;
}

.contact-form{
  display: flex;
  flex-direction: column;
}

.labels-div{
  margin: 0px 250px 60px 250px;
  box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
}

.label-title{
  font-family: 'Orbitron', sans-serif;
  padding-bottom: 25px;
  padding-right: 10px;
  color: aliceblue;
}

.message-title{
  font-family: 'Orbitron', sans-serif;
  padding-bottom: 45px;
  padding-right: 10px;
  color: aliceblue;
}

.input{
  border: none;
  border-bottom: 3px solid black;
  width: 820px;
}

.text-area{
  border: none;
  resize: none;
  overflow: auto;
  outline: none;
  border-bottom: 3px solid black;
}

.send-button{
  font-family: 'Orbitron', sans-serif;
  border: none;
  background-color: white;
  border: 2px solid black;
}