@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.contact-title{
  font-family: 'Orbitron', sans-serif;
  color: aliceblue;
  width: 250px;
  margin-left: 840px;
}

.contact-form{
  display: flex;
  flex-direction: column;
}

.labels-div{
  margin: 0px 250px 60px 690px;
  box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
  width: 550px;
}

.label-title{
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 15px;
  padding-right: 10px;
  color: aliceblue;
}

.message-title{
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 15px;
  padding-right: 10px;
  color: aliceblue;
}

.input{
  border: none;
  border-bottom: 3px solid black;
  width: 520px;
  margin-bottom: 15px;
}

.text-area{
  border: none;
  resize: none;
  overflow: auto;
  outline: none;
  border-bottom: 3px solid black;
  width: 520px;
  margin-bottom: 15px;
}

.send-button{
  font-family: 'Orbitron', sans-serif;
  border: none;
  background-color: white;
  border: 2px solid black;
}

/* Tablet break point */

@media screen 
  and (max-width: 768px) {
    .contact-title{
      font-family: 'Orbitron', sans-serif;
      color: aliceblue;
      width: 250px;
      margin-left: 265px;
    }
    
    .contact-form{
      display: flex;
      flex-direction: column;
    }
    
    .labels-div{
      margin: 0px 250px 60px 110px;
      box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
      width: 550px;
    }
    
    .label-title{
      font-family: 'Orbitron', sans-serif;
      margin-bottom: 15px;
      padding-right: 10px;
      color: aliceblue;
    }
    
    .message-title{
      font-family: 'Orbitron', sans-serif;
      margin-bottom: 15px;
      padding-right: 10px;
      color: aliceblue;
    }
    
    .input{
      border: none;
      border-bottom: 3px solid black;
      width: 520px;
      margin-bottom: 15px;
    }
    
    .text-area{
      border: none;
      resize: none;
      overflow: auto;
      outline: none;
      border-bottom: 3px solid black;
      width: 520px;
      margin-bottom: 15px;
    }
    
    .send-button{
      font-family: 'Orbitron', sans-serif;
      border: none;
      background-color: white;
      border: 2px solid black;
    }
  }

/* mobile breakpoint */

@media screen 
  and (max-width: 576px) {

    .contact-title{
      font-family: 'Orbitron', sans-serif;
      color: aliceblue;
      width: 250px;
      margin-left: 75px;
    }
    
    .contact-form{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    
    .labels-div{
      margin: 0px 0px 60px 35px;
      box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
      width: 300px;
    }
    
    .label-title{
      font-family: 'Orbitron', sans-serif;
      margin-bottom: 15px;
      padding-right: 10px;
      color: aliceblue;
    }
    
    .message-title{
      font-family: 'Orbitron', sans-serif;
      margin-bottom: 15px;
      padding-right: 10px;
      color: aliceblue;
    }
    
    .input{
      border: none;
      border-bottom: 3px solid black;
      width: 280px;
      margin-bottom: 15px;
    }
    
    .text-area{
      border: none;
      resize: none;
      overflow: auto;
      outline: none;
      border-bottom: 3px solid black;
      width: 280px;
      margin-bottom: 15px;
    }
    
    .send-button{
      font-family: 'Orbitron', sans-serif;
      border-left: solid rgb(90, 90, 90);
      border-top: solid rgb(90, 90, 90);
      background-color: rgb(44, 44, 44);
      color: aliceblue;
      border-left: 1px solid aliceblue;
      border-top: 1px solid aliceblue;
    }
  }