@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.projects{
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
}

.projects-header{
  font-family: 'Orbitron', sans-serif;
  width: 180px;
  font-weight: bold;
  margin: 0px 0px 20px 870px;
  color: aliceblue;
}

.website-preview{
  box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
  margin: 50px 250px 0px 450px;
  width: 1000px;
}

.website-links{
  padding-top: 20px;
}

.website-preview-last{
  box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
  margin: 50px 250px 50px 450px;
  padding-bottom: 10px;
  width: 1000px;
}

.website-link{
  margin-right: 15px;
  text-decoration: none;
  border-left: 1px solid aliceblue;
  border-top: 1px solid aliceblue;
  box-shadow: 0px 0px rgba(255, 255, 255, 0.397);
  color: aliceblue;
  padding-left: 5px;
  padding-right: 5px;
}

.github-link{
  text-decoration: none;
  border-left: 1px solid aliceblue;
  border-top: 1px solid aliceblue;
  box-shadow: 0px 0px rgba(255, 255, 255, 0.397);
  color: aliceblue;
  padding-left: 5px;
  padding-right: 5px;
}

.website-description-weather-today{
  color: aliceblue;
}

.website-description-review-the-game{
  color: aliceblue;
  width: 650px;
  margin-left: 170px;
}

.website-description-root{
  color: aliceblue;
  width: 750px;
  margin-left: 125px;
}

.website-description-game-thoughts{
  color: aliceblue;
  width: 850px;
  margin-left: 50px;
}

.tech-stack{
  color: aliceblue;
}

.website-image{
  width: 500px;
  height: 250px;
  margin-bottom: 20px;
}

/* Tablet break point */

@media screen 
  and (max-width: 768px) {
    
    .projects{
      overflow-y: scroll;
      width: 100vw;
      height: 100vh;
    }
    
    .projects-header{
      font-family: 'Orbitron', sans-serif;
      width: 180px;
      font-weight: bold;
      margin: 0px 0px 20px 300px;
      color: aliceblue;
    }
    
    .website-preview{
      box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
      margin: 50px 250px 0px 40px;
      width: 700px;
    }
    
    .website-links{
      padding-top: 20px;
    }
    
    .website-preview-last{
      box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
      margin: 50px 250px 50px 40px;
      padding-bottom: 10px;
      width: 700px;
    }
    
    .website-link{
      margin-right: 15px;
      text-decoration: none;
      border-left: 1px solid aliceblue;
      border-top: 1px solid aliceblue;
      box-shadow: 0px 0px rgba(255, 255, 255, 0.397);
      color: aliceblue;
      padding-left: 5px;
      padding-right: 5px;
    }
    
    .github-link{
      text-decoration: none;
      border-left: 1px solid aliceblue;
      border-top: 1px solid aliceblue;
      box-shadow: 0px 0px rgba(255, 255, 255, 0.397);
      color: aliceblue;
      padding-left: 5px;
      padding-right: 5px;
    }
    
    .website-description-weather-today{
      color: aliceblue;
    }
    
    .website-description-review-the-game{
      color: aliceblue;
      width: 550px;
      margin-left: 70px;
    }
    
    .website-description-root{
      color: aliceblue;
      width: 550px;
      margin-left: 70px;
    }
    
    .website-description-game-thoughts{
      color: aliceblue;
      width: 550px;
      margin-left: 70px;
    }
    
    .tech-stack{
      color: aliceblue;
    }
    
    .website-image{
      width: 500px;
      height: 250px;
      margin-bottom: 20px;
    }
  }

/* mobile breakpoint */

@media screen 
  and (max-width: 576px) {
    .projects{
      overflow-y: show;
      width: 100vw;
      height: 100vh;
    }
    
    .projects-header{
      font-family: 'Orbitron', sans-serif;
      width: 180px;
      font-weight: bold;
      margin: 0px 0px 0px 110px;
      color: aliceblue;
    }
    
    .website-preview{
      box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
      margin: 30px 0px 0px 23px;
      width: 330px;
    }

    .website-links{
      padding-top: 10px;
    }
    
    .website-preview-last{
      box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
      margin: 30px 250px 50px 23px;
      padding-bottom: 10px;
      width: 330px;
    }
    
    .website-link{
      margin-right: 5px;
      background-color: rgb(44, 44, 44);
      font-family: 'Orbitron', sans-serif;
      color: aliceblue;
      font-size: 12px;
      padding-right: 5px;
      padding-left: 5px;
      padding-bottom: 2px;
      border-left: solid rgb(133, 133, 133);
      border-top: solid rgb(133, 133, 133);
      border-right: solid rgb(133, 133, 133);
      border-bottom: solid rgb(133, 133, 133);
    }
    
    .github-link{
      background-color: rgb(44, 44, 44);
      font-family: 'Orbitron', sans-serif;
      color: aliceblue;
      font-size: 12px;
      padding-right: 5px;
      padding-left: 5px;
      padding-bottom: 2px;
      border-left: solid rgb(133, 133, 133);
      border-top: solid rgb(133, 133, 133);
      border-right: solid rgb(133, 133, 133);
      border-bottom: solid rgb(133, 133, 133);
    }
    
    .website-description-weather-today{
      color: aliceblue;
      font-size: 15px;
      width: 300px;
      margin-left: 15px;
    }
    
    .website-description-review-the-game{
      color: aliceblue;
      font-size: 15px;
      width: 300px;
      margin-left: 15px;
    }
    
    .website-description-root{
      color: aliceblue;
      font-size: 15px;
      width: 300px;
      margin-left: 15px;
    }
    
    .website-description-game-thoughts{
      color: aliceblue;
      font-size: 15px;
      width: 300px;
      margin-left: 15px;
    }

    .tech-stack{
      color: aliceblue;
    }
    
    .website-image{
      width: 290px;
      height: 250px;
      margin-bottom: 10px;
    }
  }