@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.projects-header{
  font-family: 'Orbitron', sans-serif;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 0px 19px 20px 22px;
  color: aliceblue;
}

.website-preview{
  box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
  margin: 0px 250px 25px 250px;
}

.website-link{
  margin-right: 15px;
  text-decoration: none;
  border: 3px solid black;
  box-shadow: 3px 3px black;
  color: aliceblue;
}

.github-link{
  width: 35px;
  height: 35px;
  margin-top: 30px;
}

.website-description{
  color: aliceblue;
}

.website-image{
  width: 500px;
  height: 250px;
  margin-bottom: 20px;
}