
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.about-me{
  position: absolute;
  width: 80%;
  margin-left: 150px;
}

.about-hi{
  font-family: 'Orbitron', sans-serif;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 0px 19px 0px 22px;
  text-transform: uppercase;
  padding-top: 20px;
  color: aliceblue;
}


.about-name{
  font-family: 'Orbitron', sans-serif;
  color: aliceblue;
}

.about-brand{
  font-family: 'Orbitron', sans-serif;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 0px 19px 0px 22px;
  text-transform: uppercase;
  color: aliceblue;
}

.code{
  color: aliceblue;
}

.resume-link{
  margin-top: 10px;
}

.about-button{
  background-color: white;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

.linkedin-button{
  background-color: white;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}