
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.about-me{
  margin-left: 0px;
}

.about-hi{
  font-family: 'Orbitron', sans-serif;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  display: block;
  margin: 180px 65px 0px 85px;
  text-transform: uppercase;
  color: aliceblue;
}


.about-name{
  font-family: 'Orbitron', sans-serif;
  color: aliceblue;
}

.about-brand{
  font-family: 'Orbitron', sans-serif;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin: 0px 19px 0px 690px;
  text-transform: uppercase;
  color: aliceblue;
  width: 550px;
}

.programming-frameworks{
  color: aliceblue;
}

.code{
  color: aliceblue;
  width: 550px;
  margin: 0px 19px 0px 690px;
  display: flex;
  flex-direction: row;
}

.code-html{
  margin-left: 20px;
  margin-right: 20px;
}

.code-JS{
  margin-left: 20px;
  margin-right: 20px;
}

.code-react{
  margin-left: 20px;
  margin-right: 20px;
}

.code-css{
  margin-left: 20px;
  margin-right: 20px;
}

.code-ruby{
  margin-left: 20px;
  margin-right: 20px;
}

.code-express{
  margin-left: 20px;
  margin-right: 20px;
}

.resume-link{
  width: 550px;
  margin: 10px 19px 10px 650px;
}

.about-button{
  background-color: white;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

.linkedin-button{
  background-color: white;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}