@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.page-links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-link{
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
}

.home-link:hover{
  border-bottom: 1px solid black;
}

.project-link{
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
}

.project-link:hover{
  border-bottom: 1px solid black;
}

.contact-link{
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
}

.contact-link:hover{
  border-bottom: 1px solid black;
}